@page
@model Mission09_duke95.Pages.PurchaseCompletedModel
@{
    ViewData["Title"] = "Purchase Completed";
}


<div class="text-center">
    <h2>Thank you for your purchase! We hope you enjoy the book!</h2>
    <a class="btn btn-primary" asp-controller="Home">Return Home</a>
</div>